<div id="videos">
    <video #videoElement autoplay playsinline></video>
    <img id="reconstructedFrame" style="height: 80%; margin-top: 5vh;"/>  
</div>

<div id="controls">
    <button class="iobutton" (click)="camera(videoElement)">
        <img style="width: 100%; margin-left: 3%;" src="assets/images/camera-icon.png">
    </button>

    <!-- TODO: mic -->
    <button class="iobutton">
        <img style="width: 50%;" src="assets/images/microphone-icon.png">
    </button>

    <!-- TODO: members list -->
    <button class="iobutton">
        <img style="width: 70%;" src="assets/images/list-icon.png">
    </button>
</div>
