<div id="videos">
    <video #videoElement autoplay playsinline></video>
    <img id="reconstructedFrame" *ngIf="reconstructedFrames.length > 0" />  
</div>

<div id="controls">
    <button class="iobutton" (click)="camera(videoElement)">
        <img style="width: 100%; margin-left: 3%;" src="assets/images/camera-icon.png">
    </button>

    <button class="iobutton" (click)="reconstructVideo()">
        <img style="width: 70%;" src="assets/images/camera-icon.png" />
    </button>

    <!-- TODO: mic -->
    <button class="iobutton">
        <img style="width: 50%;" src="assets/images/microphone-icon.png">
    </button>

    <!-- TODO: members list -->
    <button class="iobutton">
        <img style="width: 70%;" src="assets/images/list-icon.png">
    </button>
</div>
